.container{
    margin-bottom: 20px;
  
}
.background{
    background-color:white;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 20px;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,cyan 0%, darkcyan 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}


.col-md-6 h5{
text-align: right;
color: orange;
font-size: 25px;
font-weight: lighter;
}
.products img{
    width: 300px;
    
}
.card{
    
    border: none!important;
    box-shadow:5px 5px 10px lightgrey;
    border-radius: 10px;
}

.laptop{
    margin-top: 50px;
}
.categories{
    text-align: center;
    margin-top: 50px;
    text-decoration:underline orange;
}
.cat{
    padding: 10px 10px;
}
.cat img:hover {
    box-shadow: 5px 10px 10px rgba(0, 140, 186, 0.5);
    border-radius: 10px;
}
footer{
    text-align: center;
}